WHISPER_API_KEY=WHISPER_API_KEY
DB_USER=DB_USER
DB_PASSWORD=DB_PASSWORD
DB_HOST=DB_HOST
DB_NAME=DB_NAME
GROQ_API_KEY=GROQ_API_KEY
AWS_ACCESS_KEY_ID=AWS_ACCESS_KEY_ID
AWS_SECRET_ACCESS_KEY=AWS_SECRET_ACCESS_KEY
AWS_TRANSCRIBE_OUTPUT_BUCKET=AWS_TRANSCRIBE_OUTPUT_BUCKET
AWS_S3_BUCKET=AWS_S3_BUCKET
MEILISEARCH_API_KEY=MEILISEARCH_API_KEY