WHISPER_API_KEY=WHISPER_API_KEY
DB_USER=DB_USER
DB_PASSWORD=DB_PASSWORD
DB_HOST=localhost
DB_NAME=audio_processing
GROQ_API_KEY=GROQ_API_KEY
AWS_ACCESS_KEY_ID=AWS_ACCESS_KEY_ID
AWS_SECRET_ACCESS_KEY=AWS_SECRET_ACCESS_KEY
AWS_TRANSCRIBE_OUTPUT_BUCKET=audio-processing-inputs-bucket
AWS_S3_BUCKET=audio-processing-inputs-bucket
MEILISEARCH_API_KEY=test767ff88c4893803599b546731d95
SA_GOOGLE_OAUTH2_KEY=""
SA_GOOGLE_OAUTH2_SECRET=""
SA_FACEBOOK_LOGIN_KEY=""
SA_FACEBOOK_LOGIN_SECRET=""
SA_TWITTER_API_V2_KEY=""
SA_TWITTER_API_V2_SECRET=""
SA_INSTAGRAM_AUTH_KEY=""
SA_INSTAGRAM_AUTH_SECRET=""
CORS_ALLOWED_ORIGINS="http://localhost:3000,"
