amqp==5.3.1
billiard==4.2.1
botocore==1.40.0
boto3==1.40.0
celery==5.5.3
kombu==5.5.4
Django==5.2.4
django-celery-beat==2.8.1
django-constance==4.3.4
django-cors-headers==4.8.0
django-filter==25.1
djangorestframework==3.16.1
drf-yasg==1.21.10
drf-social-oauth2==3.1.0
django-import-export==4.3.9
django-multiselectfield==1.0.1
requests==2.32.4
requests-oauthlib==2.0.0
python-dotenv==1.1.1
google-auth==2.43.0
google-auth-httplib2==0.2.1
groq==0.30.0
meilisearch==0.37.0
pydub==0.25.1
psycopg2-binary==2.9.10
social-auth-app-django==5.5.1
social-auth-core==4.7.0
s3transfer==0.13.1
whitenoise==6.11.0
django-admin-tools-stats
feedparser
nh3==0.3.7